<%= provide(:title, 'Sign up') %>

<p><%= devise_error_messages! %></p>

<div class="row-fluid">
	<div class="span4">
		<p></p>
	</div>
	<div class="span4">
		<h6 class="center">Sign up</h6>
		<ul id="tab" class="nav nav-tabs">
			<li class="active"><a href="#student" data-toggle="tab">As a Student</a></li>
			<li><a href="#nstudent" data-toggle="tab">As a Faculty / Administrator</a></li>
		</ul>
		 
		<div class="tab-content">
			
			<div class="tab-pane fade in active" id="student">
			
				<%= form_for(resource, html: { class: "well center" }, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  				
  				<%= f.text_field :name, placeholder: "Full Name" %><br />
  				<%= f.email_field :email, placeholder: "Email Address" %><br />
  				<%= f.password_field :password, placeholder: "Password" %><br />
  				<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br />
  				
  				Joined NIT Raipur on<br />
  				<%= f.select(:joined_on, ((Time.now.year-20).to_i..(Time.now.year.to_i)).to_a.reverse) %><br />
  				
  				Department<br />
  				<%= f.collection_select :department_id, Department.all, :id, :name %><br />
  				
  				<% @member.build_student if @member.student.nil? %>
					<%= f.fields_for :student do |s| %>
						<%= s.text_field :rollnum, placeholder: "Roll Number" %><br />
						<%= s.text_field :positions, placeholder: "Committee Name (if any)" %><br />
						<%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
					<% end %>
	
  			<% end %>
			</div>
			
			<div class="tab-pane fade" id="nstudent">
			
				<%= form_for(resource, html: { class: "well center" }, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  				
  				<%= f.text_field :name, placeholder: "Full Name" %><br />
  				<%= f.email_field :email, placeholder: "Email Address" %><br />
  				<%= f.password_field :password, placeholder: "Password" %><br />
  				<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br />
  				
  				Joined NIT Raipur on<br />
  				<%= f.select(:joined_on, ((Time.now.year-20).to_i..(Time.now.year.to_i)).to_a.reverse) %><br />
				
  				Department<br />
  				<%= f.collection_select :department_id, Department.all, :id, :name %><br />
  				
					<% @member.build_nstudent if @member.nstudent.nil? %>
						<%= f.fields_for :nstudent do |ns| %>
	
							Title<br />
							<%= ns.select(:title, %w{ Mr. Ms. Mrs. Dr. Prof. Shri Smt Sir Madam }) %><br />
		
							Designation<br />
							<%= ns.select(:designation,
							 %w{ Chairman Director Registrar Dean 
							 HOD Reader Professor Associate-Professor Assistant-Professor
							 Lecturer AWS}) %><br />
							 
							 <%= ns.text_field :designated_to, placeholder: "Designated to (if dept. unlisted)" %><br />
							 
							 <%= ns.text_field :qualification, placeholder: "Qualifications (Degree)" %><br />

							<%= f.submit "Sign up", class: "btn btn-large btn-primary" %>							 
						<% end %>
				
				<% end %>
			</div>
		</div>
	</div>
	<div class="span4">
		<p></p>
	</div>
</div>
