<%= provide(:title, @post.title) %>

<div class="page-header">
	<h1><%= @post.title %> <small style="font-size: 50%">- 
														<% if @post.member.nstudent.nil? %>
															<%= @post.member.name %>, student at 
															<%= @post.member.department.name %>
														<% else %>
															<%= @post.member.nstudent.title %> <%= @post.member.name %>, <%= @post.member.nstudent.designation %> at
																	
																	<% if @post.member.nstudent.designated_to.empty? and !@post.member.department.nil? %>
																		<%= @post.member.department.name %>
																	<% elsif @post.member.department.nil? and !@post.member.nstudent.designated_to.empty? %>
																		<%= @post.member.nstudent.designated_to %>
																	<% elsif !@post.member.department.nil? and !@post.member.nstudent.designated_to.empty? %>
																		<%= @post.member.nstudent.designated_to %> and <br />
																		<%= @post.member.department.name %> <br />
																	<% else %>
																		<i class="icon-ban-circle"></i> Unspecified <br/>
																	<% end %>
														<% end %>
													</small></h1>
</div>

<p id="notice" class="center"><%= notice %></p>

<div class = "stats">
	<%= link_to 'Back to Home', posts_path , class: "btn btn-mini "%> 
	
	<% if @post.member_id == current_member.id %>
		<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-mini"  %>
	<% end %>   	
	
	<% if (@post.member_id == current_member.id) || (current_member.admin == true) %>
		<%= link_to 'Remove', @post, confirm: 'Are you sure?', method: :delete, class: "btn btn-mini" %>
	<% end %>
	
	<div class = "pull-right">
	    <%= link_to raw('<i class="icon-arrow-up"></i> Upvote'), upvote_post_path(@post), class: "btn btn-mini" %> (<%= @post.up_votes %>)
    | <%= link_to raw('<i class="icon-arrow-down"></i> Downvote'), downvote_post_path(@post), class: "btn btn-mini" %> (<%= @post.down_votes %>)
		| <%= link_to raw('<i class="icon-resize-horizontal"></i> Unvote'), unvote_post_path(@post), class: "btn btn-mini" %>
	</div>
	
</div>

<div class="showcontent"><%= simple_format(@post.content) %></div>
<hr />

<% unless @comments.blank? %>
<h3 class="center"> <%= pluralize(@comments.count, 'reply') %> to this post  <i class="icon-comment"></i> </h3>
<% @comments.each_with_index do |comment, index| %>
	<% if !comment.content.nil? %>
	<div class="well post">
			<div class = "name left"> 
															 <% if comment.member.nstudent.nil? %>
															 		<i class="icon-barcode"></i> <%= comment.member.student.rollnum.to_s.rjust(8, '0') %><br />
																 	<i class="icon-pencil"></i> <%= comment.member.name %><br />
																	<i class="icon-book"></i> <%= comment.member.department.name %> (<%= comment.member.joined_on %>)<br />
																	<% if !comment.member.student.positions.nil? %>
																		<i class="icon-star"></i> <%= comment.member.student.positions %> Member<br />
																	<% end %>
																	<% if comment.member.admin? %>
																		<i class="icon-eye-open"></i> Admin<br />
																	<% end %>
															 <% else %>
															 		<i class="icon-user"></i> <%= comment.member.nstudent.title %> <%= comment.member.name %> <br />
															 		<%= comment.member.nstudent.designation %> at<br /> 
																	
																	<% if comment.member.nstudent.designated_to.empty? and !comment.member.department.nil? %>
																		<i class="icon-home"></i> <%= comment.member.department.name %> (<%= comment.member.joined_on %>)<br />
																	<% elsif comment.member.department.nil? and !comment.member.nstudent.designated_to.empty? %>
																		<i class="icon-star"></i> <%= comment.member.nstudent.designated_to %> (<%= comment.member.joined_on %>)<br />
																	<% elsif !comment.member.department.nil? and !comment.member.nstudent.designated_to.empty? %>
																		<i class="icon-star"></i> <%= comment.member.nstudent.designated_to %> and <br />
																		<i class="icon-star"></i> <%= comment.member.department.name %> (<%= comment.member.joined_on %>)<br />
																	<% else %>
																		<i class="icon-ban-circle"></i> Unspecified <br/>
																	<% end %>
																	
																	<i class="icon-check"></i> <%= comment.member.nstudent.qualification %><br /> 
																	<% if comment.member.admin? %>
																		<i class="icon-eye-open"></i> Admin<br />
																	<% end %>
															 <% end %>
 
		</div>
		<div class = "votes right">
		 														<i class="icon-arrow-up"></i>
																<%= link_to 'Upvote', upvotecom_post_path(comment)%> (<%= comment.up_votes %>)<br />
		 														<i class="icon-arrow-down"></i>
																<%= link_to 'Downvote', downvotecom_post_path(comment)%> (<%= comment.down_votes %>)<br />
																<i class="icon-resize-horizontal"></i>
																<%= link_to 'Unvote', unvotecom_post_path(comment)%> 
		</div>
		<div class = "rank right"> comment is in <%= (index + 1).ordinalize %> position </div>
		<div class = "time right"> <i class="icon-time"></i> <%= time_ago_in_words(comment.created_at) %> ago </div>
		<div class = "content"> <%= simple_format(comment.content) %> </div>
		<br /><br />
	</div>
	<hr />
<% end %>
<% end %>
<% end %>

<h3 class="center">Reply</h3>

<div class="center">
<%= form_for @post do |p| %>
	<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
			<ul>
      <% @post.errors.full_messages.each do |msg| %>
      <p id="notice"><%= notice %></p>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= p.fields_for :comments do |c| %>
		<% if c.object.new_record? %>
			<%= c.text_area :content, :rows => 20, id: 'textarea', class: 'input-xxlarge', placeholder: 'Write something here...'%>
			<%= c.hidden_field :member_id, value: current_member.id %>
			<%= c.hidden_field :points, value: 0 %>
		<% end %>
	<% end %>
	<br />
	<%= p.submit "Reply to the post", class: "btn btn-large btn-primary" %>
<% end %>
</div>
