<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">	
		<div class="container-fluid">
	    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
			</a>
	    <%= link_to 'Project URD', root_path, class: 'brand' %>
			<div class="nav-collapse">
	    	<ul class="nav">
          <% if member_signed_in? %>
          <li><%= link_to 'New Post', new_post_path %></li>
          <% end %>
				</ul>
				<% if member_signed_in? %>
				<ul class="nav pull-right">
        	<li id="fat-menu" class="dropdown">
		      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as <%= current_member.name %> <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		        	<li><a href="#"></a></li>
		          <li><%= link_to 'Change Details', edit_member_registration_path %></li>
		          <li><%= link_to 'Cancel Account?', cancel_member_registration_path, confirm: 'This action cannot be reversed. Are you sure?' %></li>
		          <li class="divider"></li>
		          <li><%= link_to "Sign out", destroy_member_session_path, :method => :delete %></li>
		        </ul>
         	</li>
        </ul>
				<% end %>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
